{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}Your Bujo{% endblock %}</title>
  <!-- now U from https://stackoverflow.com/questions/52682812/django-css-not-updating/52683195 -->
  <link rel="stylesheet" href="../static/css/styles.css?{% now 'U' %}" type="text/css">
</head>
<body>
  {% include 'navbar.html' %}
  <main>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </main>
</body>
</html>
