{%extends 'base.html' %}
{% load static %}


{% block title %}Your Bujo{% endblock %}

{% block content %}
<h1>
    Your Bullet Journal
</h1>

{% if form  %}
    <h2>
        Hello! What is your name?
    </h2>
    <div class="form_container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% else %}
    <h2>
        Hello, {{ output }}! Today is going to be a great day!
    </h2>
{% endif %}
{% endblock %}
