{%extends 'base.html' %}
{% load static %}

{% block title %}Key{% endblock %}

{% block content %}
  <h1>Key</h1>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <p>{{ field.label }} has the following errors:</p>
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

  <div class="container">
    {% for key in key_context %}
      <p>{{ key.key_name }}</p>
      <p>{{ key.description }}</p>
    {% endfor %}
  </div>

  <div class="single_key_container" id="indent_key">
    <p>{{ key_name }}</p>
    <p>{{ description }}</p>
  </div>
  {% if form %}
    <div class="form_container">
      <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Key" name="Add Key">
      </form>
    </div>
  {% else %}
    <div class="form_container">
      <form action="#" method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Key" name="Add Key">
      </form>
    </div>
  {% endif %}

  <!-- <div class="all_keys_container">
    <div class="single_key_container">
      <img src="{% static 'images/dash.png' %}" alt="dash bullet">
      <p>Notes: things you don't want to forget</p>
    </div>

    <div class="single_key_container">
        <img src="{% static 'images/circle.png' %}" alt="dash bullet">
        <p>Events: noteworthy moments in time</p>
    </div>

    <div class="single_key_container">
        <img src="{% static 'images/dot.png' %}" alt="dash bullet">
        <p>Tasks: things you have to do</p>
    </div>

    <div class="single_key_container" id="indent_key">
        <img src="{% static 'images/dot.png' %}" alt="dash bullet">
        <p>Task incomplete</p>
    </div>

    <div class="single_key_container" id="indent_key">
        <img src="{% static 'images/cross.png' %}" alt="dash bullet">
        <p>Task complete</p>
    </div>
  </div> -->
{% endblock %}
