{%extends 'base.html' %}
{% load static %}

{% block title %}Key{% endblock %}

{% block content %}
  <h1>Key</h1>

  <div class="all_keys_container">
    <div class="single_key_container">
      <img src="{% static 'images/dash.png' %}" alt="dash bullet">
      <p>Notes: things you don't want to forget</p>
    </div>

    <div class="single_key_container">
        <img src="{% static 'images/circle.png' %}" alt="dash bullet">
        <p>Events: noteworthy moments in time</p>
    </div>

    <div class="single_key_container">
        <img src="{% static 'images/dot.png' %}" alt="dash bullet">
        <p>Tasks: things you have to do</p>
    </div>

    <div class="single_key_container" id="indent_key">
        <img src="{% static 'images/dot.png' %}" alt="dash bullet">
        <p>Task incomplete</p>
    </div>

    <div class="single_key_container" id="indent_key">
        <img src="{% static 'images/cross.png' %}" alt="dash bullet">
        <p>Task complete</p>
    </div>
  </div>
{% endblock %}
