{%extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
  <h1>Profile</h1>

  <div class="profile_container">
    <div class="profile_pic_container">
      <img class="profile_pic" src="{{ profile_context.profile_pic.url }}" alt="User's Picture">
      <a href="{% url 'edit_pic' profile_context.pk %}"><button type="button">Change</button></a>
    </div>

    <div class='bio_container'>
      {{ form.non_field_errors }}
      {% for field in form %}
        {% if field.errors %}
          <p>{{ field.label }} has the following errors:</p>
          <ul>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}

      <h3>
        {{ profile_context.nickname }}
        <a href="{% url 'edit_profile' profile_context.pk %}"><button type="button">Edit</button></a>
      </h3>
      <p>
        {{ profile_context.bio }}
        <a href="{% url 'edit_profile' profile_context.pk %}"><button type="button">Edit</button></a>
      </p>
    </div>
  </div>
{% endblock %}
