{%extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
  <h1>Profile</h1>

  <div class="profile_container">
    <img class="profile_pic" src="{{ request.user.profile.profile_pic.url }}" alt="User's Picture">
    <!-- {{profile_pic}} -->

    <div class='bio_container'>
      {{ form.non_field_errors }}
      {% for field in form %}
        {% if field.errors %}
          <p>{{ field.label }} has the following errors:</p>
          <ul>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}

      {% if form %}
      <h1>im a form</h1>
      <!-- enc from https://www.youtube.com/watch?v=ygzGr51dbsY -->
        <form action="/profile" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          {{ profile_pic.media }}
          <input type="submit" value="Save">
        </form>
      {% else %}
        <h1>not a form</h1>
        <h3>{{ nickname }}</h3>
        <form method='get' action='#'>
          <input type="submit" value="Edit" name="Edit"/>
        </form>
        <p>{{ bio }}</p>
        <form method='get' action='#'>
          <input type="submit" value="Edit" name="Edit"/>
        </form>
        <form method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ profile_pic.as_p }}
          {{ profile_pic.media }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
