{%extends 'base.html' %}
{% load static %}

{% block title %}This Week{% endblock %}

{% block content %}
  <div class="date_container">
    <h1>This Week</h1>

    <h1 class="date">03.01.MON - 03.07.SUN</h1>
  </div>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <p>{{ field.label }} has the following errors:</p>
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

  <div class="container">
    {% for item in this_week_context %}
      <p>{{ item.chosen_item_type }}</p>
      <p>{{ item.item_details }}</p>
      <a href="{% url 'edit_week_item' item.pk %}"><button type="button">Edit</button></a>
      <a href="{% url 'delete_week_item' item.pk %}"><button type="button">Delete</button></a>
      {% if item.chosen_item_type == "Task" %}
        <form method='post' action='#'>
          {% csrf_token %}
          <button type="submit" name="done" value="done">Mark as Done</button>
        </form>
      {% endif %}
    {% endfor %}
  </div>

  {% if form %}
    <div class="form_container">
      <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Item" name="Add Item">
      </form>
    </div>
  {% else %}
    <div class="form_container">
      <form action="#" method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Item" name="Add Item">
      </form>
    </div>
  {% endif %}


{% endblock %}
