{%extends 'base.html' %}
{% load static %}


{% block title %}This Week{% endblock %}

{% block content %}
<div class="date_container">
    <h1>
        This Week
    </h1>

    <h1 class="date">
        03.01.MON - 03.07.SUN
    </h1>
</div>

<div class="bujo_entry">
    <img src="{% static 'images/dot.png' %}" alt="dot bullet">
    <div><p>workout</p></div>
</div>

<div class="bujo_entry">
    <img src="{% static 'images/dot.png' %}" alt="dot bullet">
    <div><p>buy coffee and milk</p></div>
</div>

<div class="bujo_entry">
    <img src="{% static 'images/dot.png' %}" alt="dot bullet">
    <div><p>laundry</p></div>
</div>

<div class="bujo_entry">
    <img src="{% static 'images/circle.png' %}" alt="circle bullet">
    <div class="bujo_entry_details_container">
        <div class="entry_title"><p>PAASCU meeting</p></div>
        <div class="entry_details"><p>03.03</p></div>
        <div class="entry_details"><p>2PM</p></div>
    </div>
</div>

<div class="bujo_entry">
    <img src="{% static 'images/dash.png' %}" alt="dash bullet">
    <div><p>30g of coffee is too strong</p></div>
</div>

<div class="bujo_entry">
    <img src="{% static 'images/dot.png' %}" alt="dot bullet">
    <div><p>review ethics</p></div>
</div>

{% endblock %}
